{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>用车申请</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/weui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-weui.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/demos.css" %}">
    <link rel="stylesheet" href="{% static "css/proposer.css" %}">
    <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    <script src="{% static "js/jquery.1.10.2.min.js" %}"></script>
    <script src="{% static "js/fastclick.js" %}"></script>
    <script src="{% static "js/proposer.js" %}"></script>
    <script src="{% static "js/jquery-weui.min.js" %}"></script>
</head>

<body ontouchstart style="background:rgba(228, 227, 227, 0.6)">
     <div class="weui-tab">
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item " >
           <div id="zhaiyao" style="display:block;background: #fff">
                               <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">用车记录</h1>
                </header>
                     <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd we_xiaoxi">
          <span style="vertical-align: middle;">待审批</span>
          <span class="weui-badge" style="margin-left:10px;">8</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
        <div class="weui-cell weui-cell_access" id="wait_a">
        <div class="weui-cell__bd we_xiaoxi">
          <span style="vertical-align: middle;">待&nbsp;&nbsp;审&nbsp;&nbsp;批</span>
          <span class="weui-badge" style="margin-left:10px;background:#ff711c">8</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
            <div class="weui-cell weui-cell_access" id="wait_b" >
        <div class="weui-cell__bd we_xiaoxi">
          <span style="vertical-align: middle">申请成功</span>
          <span class="weui-badge" style="margin-left:10px;background: #1aad19">8</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
            <div class="weui-cell weui-cell_access" id="wait_c">
        <div class="weui-cell__bd we_xiaoxi">
          <span style="vertical-align: middle">申请失败</span>
          <span class="weui-badge" style="margin-left:10px;">8</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
           </div>
        <div id="usercar" style="display:none;">
                   <header class="bar bar-nav" id="apply-title">
                     <a href="javascript:;"  class="icon pull-left" id="return_a"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                   <h1 class="title">用车记录</h1>
                </header>
               <div class="weui-cells weui-cells_form">
          <a class="weui-cell weui-cell_access car_de" href="javascript:;" >
            <div class="weui-cell__bd">
              <p>赴湖南农大考察</p>
              <span id="details">2017-7-22 ~ 2017-7-30</span>
            </div>
            <div class="weui-cell_zt">
            待审核
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
        </div>
        </div>
                <div id="usercar_b" style="display: none;">
                   <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">用车记录</h1>
               <a href="javascript:;"  class="icon pull-left" id="return_b"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                </header>
               <div class="weui-cells weui-cells_form">
          <a class="weui-cell weui-cell_access car_tg" href="javascript:;" >
            <div class="weui-cell__bd">
              <p>赴湖南农大考察</p>
              <span id="details">2017-7-22 ~ 2017-7-30</span>
            </div>
            <div class="weui-cell_tg">
            审核通过
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
                    <a class="weui-cell weui-cell_access car_tg" href="javascript:;">
            <div class="weui-cell__bd">
              <p>赴湖南农大考察</p>
              <span id="details">2017-7-22 ~ 2017-7-30</span>
            </div>
            <div class="weui-cell_tg">
            审核通过
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
        </div>
        </div>
                        <div id="usercar_c" style="display: none;">
                   <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">用车记录</h1>
               <a href="javascript:;"  class="icon pull-left" id="return_c"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                </header>
               <div class="weui-cells weui-cells_form">
          <a class="weui-cell weui-cell_access car_tf" href="javascript:;" >
            <div class="weui-cell__bd">
              <p>赴湖南农大考察</p>
              <span id="details">2017-7-22 ~ 2017-7-30</span>
            </div>
            <div class="weui-cell_tf">
            审核失败
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
                    <a class="weui-cell weui-cell_access car_tf" href="javascript:;">
            <div class="weui-cell__bd">
              <p>赴湖南农大考察</p>
              <span id="details">2017-7-22 ~ 2017-7-30</span>
            </div>
            <div class="weui-cell_tf">
            审核失败
            </div>
            <div class="weui-cell__ft">
            </div>
          </a>
        </div>
        </div>
         <div id="wait" style="display: none;">
     <section style="padding-top: 2.2rem;padding-bottom:2px" >
              <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">详情</h1>
                   <a href="javascript:;"  class="icon pull-left" id="car_return"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                </header>
        <div class="weui-panel weui-panel_accesss">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="img/user3.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title" id="myapply-ming">何晓殷</h4>
                        <div class="weui-media-box__desc" id="myapply-zt">
                            <span>等待调度员派车</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>审批编号</label>
            <div class="weui-flex__item">0100</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>申请部门</label>
            <div class="weui-flex__item">营销部</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>联系电话</label>
            <div class="weui-flex__item">183748828</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>用车缘由</label>
            <div class="weui-flex__item">出差</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>用车日期</label>
            <div class="weui-flex__item">2017-07-11 12:00</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>预计用时</label>
            <div class="weui-flex__item">3（天）</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>返回地点</label>
            <div class="weui-flex__item">湖南郴州</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>审批人员</label>
            <div class="weui-flex__item">姚敏</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>审批人员</label>
            <div class="weui-flex__item">刘茂林</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>抄送人员</label>
            <div class="weui-flex__item">于越</div>
        </div>
        <div class="weui-flex myapply-t" id="myapply-me">
            <div class="weui-cells__title"><i class="fa fa-star-half-o"></i>车辆明细</div>
        </div>
        <div class="weui-flex" id="myapply-me">
            <label>车辆数量</label>
            <div class="weui-flex__item">1</div>
        </div>
        <div class="weui-flex myapply-t" id="myapply-me">
            <div class="weui-cells__title"><i class="fa fa-star-half-o"></i>审批状态</div>
        </div>
        <div class="weui-flex myapply-t" id="myapply-lc">
            <input type="hidden" value=${detailorder.status } id="o_status" />
            <!--后台传到页面的数据-->
            <div class="stepInfo">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <div class="stepIco stepIco1 lb" id="create">1
                    <div class="stepText" id="createText">我发起申请</div>
                </div>
                <div class="stepIco stepIco2 lb" id="check">2
                    <div class="stepText" id="checkText">审批1</div>
                </div>
                <div class="stepIco stepIco3 lb" id="produce">3
                    <div class="stepText" id="produceText">审批2</div>
                </div>
                <div class="stepIco stepIco4 lb" id="received">5
                    <div class="stepText" id="receivedText">调度员派车</div>
                </div>
            </div>
        </div>
            <div class="weui-row" id="myapply-bottom">
        <div class="weui-col-50  bottoma" href="javascript:;" id='show-login'>催办</div>
        <div class="weui-col-50 bottomb" id="show-toast-forbidden">撤销</div>
    </div>
    </section>
    </div>
             <div id="pass" style="display: none;">
     <section style="padding-top: 2.2rem;padding-bottom:2px" >
              <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">详情</h1>
                   <a href="javascript:;"  class="icon pull-left" id="car_bb"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                </header>
                     <div class="weui-form-preview">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label" id="label_title">赴湖南农业大学考察</label>
          <span class="weui-form-preview__value">2017-07-11</span>
        </div>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">用车人</label>
          <span class="weui-form-preview__value">何晓殷</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">申请部门</label>
          <span class="weui-form-preview__value">人事部</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">联系方式</label>
          <span class="weui-form-preview__value">18237223232</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">出发时间</label>
          <span class="weui-form-preview__value">2017-11-12</span>
        </div>
                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">用车时间</label>
          <span class="weui-form-preview__value">3天</span>
        </div>
                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">同车人数</label>
          <span class="weui-form-preview__value">5人</span>
        </div>
                        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">车辆分配信息</label>
          <span class="weui-form-preview__value">小车 宝马</span>
        </div>
                                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">跟车司机</label>
          <span class="weui-form-preview__value">谢小兵司机</span>
        </div>
      </div>
    </div>
    </section>
    </div>
                 <div id="fail" style="display: none;">
     <section style="padding-top: 2.2rem;padding-bottom:2px" >
              <header class="bar bar-nav" id="apply-title">
                   <h1 class="title">详情</h1>
                   <a href="javascript:;"  class="icon pull-left" id="car_cc"><i class="fa fa-chevron-left"></i><span >返回</span></a>
                </header>
                     <div class="weui-form-preview" id="fail_a">
      <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label" id="label_title">赴湖南农业大学考察</label>
          <span class="weui-form-preview__value">2017-07-11</span>
        </div>
        </div>
      </div>
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">用车人</label>
          <span class="weui-form-preview__value">何晓殷</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">申请部门</label>
          <span class="weui-form-preview__value">人事部</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">联系方式</label>
          <span class="weui-form-preview__value">18237223232</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">出发时间</label>
          <span class="weui-form-preview__value">2017-11-12</span>
        </div>
                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">用车时间</label>
          <span class="weui-form-preview__value">3天</span>
        </div>
                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">同车人数</label>
          <span class="weui-form-preview__value">5人</span>
        </div>
                        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">车辆分配信息</label>
          <span class="weui-form-preview__value">小车 宝马</span>
        </div>
                                <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">跟车司机</label>
          <span class="weui-form-preview__value">谢小兵司机</span>
        </div>
      </div>
      <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" id="delete" href="javascript:"><i class="fa fa-trash-o fa-2x"></i></a>
      </div>
    </div>
    </section>
    </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">
           <header class="bar bar-nav" id="apply-title">
            <dl class="select">
        <dt>外交部</dt>
        <dd>
            <ul>
                <li><a href="#">人事部</a></li>
                <li><a href="#">财政部</a></li>
                <li><a href="#">商业部</a></li>
                <li><a href="#">信息部</a></li>
            </ul>
        </dd>
    </dl>
                </header>
                <section style="padding-top: 2.4rem;padding-left:0em;padding-right:0em;padding-bottom: 30px">
                    <form action="" id="form">
                                        <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="startime" class="weui-label">出发时间：</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="startime" type="text" placeholder="请选择(必填)" value="">
                                </div>
                            </div>
                        </div>
                                                <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="endtime" class="weui-label">使用时间：</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="endtime" type="text" value="" placeholder="请选择(必填)">
                                </div>
                            </div>
                        </div>
                                  <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label" id="login-phone">始发地点:</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="destination" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                                   <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label" id="login-phone">出行地点:</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="destination" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label" id="login-phone">同车人数：</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="number" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells weui-cells_form ">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" id="reason">
                                    <label class="weui-label">用车缘由：</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <textarea class="weui-textarea" id="textarea" placeholder="请输入简短的事由。" rows="2" maxlength="20"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cells__title"><i class="fa fa-star-half-o"></i>审批人</div>
                        <div class="weui-cells weui-cells_form" id="shenpi">
                            <div class="weui-row" id="shenpiren" >
                             <input class="weui-col-50 weui-input" id="in" type="text" placeholder="第一审批人" value="">
                              <input class="weui-col-50 weui-input" id="in_a" type="text" placeholder="第二审批人" value="">
                            </div>
                        </div>
                        <div class="weui-cells__title"><i class="fa fa-star-half-o"></i>抄送人</div>
                        <div class="weui-cells weui-cells_form " id="chaosong">
                            <div class="weui-cell" id="shenpiren">
                                <input class="weui-input" id="on" type="text" value="">
                            </div>
                        </div>
                        <div class='demos-content-padded' id="confirm">
                            <input href="javascript:;" id='show-toast' class="weui-btn weui-btn_primary " value="确 认 提 交" type="submit">
                        </div>
                    </form>
                </section>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
                       <header class='demos-header' id="personal-img">
                </header>
                <div class="weui-row weui-no-gutter" id="per-title">
                    <div id="per-touxiang"><img src="img/user2.jpg" /></div>
                </div>
                <div class="weui-row weui-no-gutter" id="per-mz">
                    何晓殷
                </div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access open-popup" id="per-message" data-target="#personal"><img src="img/my-in1.png" style="width:20px;margin-right:10px;display:block">
                        <div class="weui-cell__bd">
                            <p>个人信息</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access open-popup" id="per-message" href="javascript:;" data-target="#full"><img src="img/accoun.png" style="width:20px;margin-right:10px;display:block">
                        <div class="weui-cell__bd">
                            <p>账号与安全</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;"><img src="img/tell.png" style="width:20px;margin-right:10px;display:block">
                        <div class="weui-cell__bd">
                            <p>我的客服</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access per-set open-popup" id="per-message" data-target="#mscenter"><img src="img/tongzhi.png" style="width:20px;margin-right:10px;display:block;color:red">
                        <div class="weui-cell__bd">
                            <p>消息中心</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                </div>
                <div class='demos-content-padded'>
                    <a href="javascript:;" id="per-return" class="weui-btn weui-btn_primary ">退 出 登 录</a>
                </div>
        </div>
      </div>
           <div class="weui-tabbar">
            <a href="#tab1" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-comments weui-tabbar__label"></i>
                </div>
                <p class="weui-tabbar__label">申请状态</p>
            </a>
            <a href="#tab2" class="weui-tabbar__item    weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-plus weui-tabbar__label"></i>
                </div>
                <p class="weui-tabbar__label">新建申请</p>
            </a>
            <a href="#tab3" class="weui-tabbar__item ">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-user weui-tabbar__label"></i>
                </div>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
        <!-- 弹出个人信息的页面 -->
    <div id="personal" class='weui-popup__container'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <header class='demos-header' id="personal-title">
               <span style="margin-left:18px"> 个人信息</span>
                <a href="javascript:;" class="icon close-popup" id="mz_close"><i class="fa fa-times" id="mz_cl" style="color:#e6ca32;;float:right;margin-right:18px"></i></a>
            </header>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;">
                    <div class="weui-cell__bd per">
                        <p>头像</p>
                    </div>
                    <span style="margin-right:4px"><img src="img/user2.jpg"  id="permg"/></span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access open-popup" id="per-message" href="javascript:;" class="" data-target="#full">
                    <div class="weui-cell__bd per">
                        <p>所属部门</p>
                    </div>
                    <span style="color:#444;margin-right:4px">人事部</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;">
                    <div class="weui-cell__bd per">
                        <p>绑定手机</p>
                    </div>
                    <span style="color:#444;margin-right:4px">185****6778</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;">
                    <div class="weui-cell__bd per">
                        <p>性别</p>
                    </div>
                    <span style="color:#444;margin-right:4px">女</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;">
                    <div class="weui-cell__bd per">
                        <p>地区</p>
                    </div>
                    <span style="color:#444;margin-right:4px">湖南长沙</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;">
                    <div class="weui-cell__bd per">
                        <p>个人实名认证</p>
                    </div>
                    <span style="color:#444;margin-right:4px">已认证</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </div>
    </div>
  <!--   账号与安全 -->
  <div id="full" class='weui-popup__container'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
           <header class='demos-header' id="personal-title">
               <span style="margin-left:18px"> 账号安全</span>
                <a href="javascript:;" class="icon close-popup" id="mz_close"><i class="fa fa-times" id="mz_cl" style="color:#e6ca32;;float:right;margin-right:18px"></i></a>
            </header>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;"><img src="img/icon-read10.png" style="width:20px;margin-right:10px;display:block">
                    <div class="weui-cell__bd">
                        <p>登录密码</p>
                    </div>
                    <span style="color: #80a049;margin-right:4px">登录密码</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access open-popup" id="per-message" href="javascript:;" class="" data-target="#full"><img src="img/icon-read9.png" style="width:20px;margin-right:10px;display:block">
                    <div class="weui-cell__bd">
                        <p>密保问题</p>
                    </div>
                    <span style="color:#f76160;margin-right:4px">请设置密保找回密码</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" id="per-message" href="javascript:;"><img src="img/icon-read8.png" style="width:20px;margin-right:10px;display:block">
                    <div class="weui-cell__bd">
                        <p>绑定手机</p>
                    </div>
                    <span style="color:#80a049;margin-right:4px">185****6778</span>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </div>
    </div>
        <div id="mscenter" class='weui-popup__container'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal" id="ms_a">
            <header class='demos-header' id="personal-title">
               <span style="margin-left:18px"> 消息中心</span>
                <a href="javascript:;" class="icon close-popup" id="mz_close"><i class="fa fa-times" id="mz_cl" style="color:#e6ca32;;float:right;margin-right:18px"></i></a>
            </header>
            <div class="ms_image">
                <ul id="ms_ul">
                    <li> <img src="img/dulb.png" /></li>
                    <li> <span>暂无消息</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
